/FirstJava/nbproject/private/
/Project/nbproject/private/
/FactoryMethod/nbproject/private/
/FactoryMethod/build/
/GunTypes/nbproject/private/
/GunTypes/build/
/Guitar/nbproject/private/
/Guitar/build/
/DatabaseFacotory/nbproject/private/
/DatabaseFacotory/build/
/GameEngine/nbproject/private/
/GameEngine/build/
/CourseEnquiry/nbproject/private/
/CourseEnquirySystem/nbproject/private/
/CourseEnquirySystem/build/